* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    background: tomato;
}

.container {
    width: 90%;
    margin: auto;
}

.tabla {
    border: 1px solid turquoise;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    width: 90%;
    height: 90vh;
    background-image: url(../adicional/img/fondo-ohyeah.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tabla h2 {
    margin-bottom: 20px;
    width: 100%;
    background: aqua;
    border-radius: 20px;
    padding: 10px 0px;
    font-style: oblique;
}

.respuesta {
    position: relative;
    top: 200px;
}

.si,
.si-ok,
.no,
.no-ok {
    display: inline;
}

.btn {
    width: 100px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    background: #eb0f0f;
    margin: 0px 20px;
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
    border: none;
}

@media screen and (max-width: 360px) {
    .btn {
        width: 80px;
        margin: 0px 15px;
    }
}

.no .btn:hover,
.no-ok .btn:hover {
    box-shadow: none;
    opacity: 0.7;
}

.si .btn {
    animation: si 3s linear infinite alternate;
    top: 0px;
    left: 0px;
}

@keyframes si {
    0% {
        top: 0px;
        left: 0px;
    }
    5% {
        top: -200px;
        left: -40px;
    }
    10% {
        top: -100px;
        left: 0px;
    }
    15% {
        top: 150px;
        left: 145px;
    }
    20% {
        top: -100px;
        left: 145px;
    }
    25% {
        top: 100px;
        left: 80px;
    }
    30% {
        top: -140px;
        left: 140px;
    }
    35% {
        top: 100px;
        left: -20px;
    }
    40% {
        top: -120px;
        left: 89;
    }
    45% {
        top: 79;
        left: -190;
    }
    50% {
        top: 100px;
        left: 0px;
    }
    55% {
        top: -70px;
        left: 120px;
    }
    60% {
        top: 140px;
        left: 40px;
    }
    65% {
        top: -100px;
        left: 0px;
    }
    70% {
        top: 120px;
        left: 89;
    }
    75% {
        top: -100px;
        left: 145px;
    }
    80% {
        top: 100px;
        left: 45px;
    }
    85% {
        top: -100px;
        left: 80px;
    }
    90% {
        top: 140px;
        left: -10px;
    }
    95% {
        top: -100px;
        left: -20px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

.si-ok .btn {
    animation: siOk 1s linear infinite alternate;
    top: -200px;
    left: 140px;
}

@keyframes siOk {
    0% {
        top: 0px;
        left: 0px;
    }
    5% {
        top: 290px;
        left: 0px;
    }
    10% {
        top: -210px;
        left: 230px;
    }
    15% {
        top: 290px;
        left: 0px;
    }
    20% {
        top: -210px;
        left: -90px;
    }
    25% {
        top: 0px;
        left: -90px;
    }
    30% {
        top: 0px;
        left: 140px;
    }
    35% {
        top: -200px;
        left: 140px;
    }
    40% {
        top: -120px;
        left: 89;
    }
    45% {
        top: 79;
        left: -190;
    }
    50% {
        top: 100px;
        left: 0px;
    }
    55% {
        top: -70px;
        left: 120px;
    }
    60% {
        top: 140px;
        left: 40px;
    }
    65% {
        top: 290px;
        left: 0px;
    }
    70% {
        top: -210px;
        left: 230px;
    }
    75% {
        top: 290px;
        left: 0px;
    }
    80% {
        top: -210px;
        left: -90px;
    }
    90% {
        top: 140px;
        left: -10px;
    }
    95% {
        top: -100px;
        left: -20px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

.atras img {
    position: relative;
    top: -50px;
    left: 20px;
}

.atras img:hover {
    opacity: 0.6;
}